* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: " Arial", sans-serif;
}
.box {
  height: 50px;
}
.box:hover {
  border: 1px solid white;
  border-radius: 2px;
}
.nav-bar {
  height: 60px;
  background-color: black;
  display: flex;
}
.nav__left {
  height: 100%;
  width: 220px;
  display: flex;
}
.nav__left .box-img {
  height: 56px;
  width: 113px;
}
.box-img .header__logo-img {
  height: 100%;
  width: 100%;
}
.box-img > a {
  list-style: none;
}
.nav__left-location {
  height: 56px;
  display: flex;
  padding: 15px 10px 18px 10px;
}
.national-text1 {
  color: #ccc;
  font-size: 10px;
}
.national-text2 {
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
}
.location-icon {
  margin-top: 8px;
  margin-right: 4px;
}

.nav__search {
  display: flex;
  height: 56px;
  flex: 1;
  margin: 7px 0 0 10px;
}
/* .nav__search:active{
      border: #f3a847;
  } */
.nav__search-select {
  height: 40px;
  width: 53px;
  border-radius: 5px 0 0 5px;
  text-align: center;
  background-color: #dadada;
  display: block;
}
.nav__search-select:hover {
  background-color: #bbbfbf;
  cursor: pointer;
}
.nav__search-input {
  width: 628px;
  height: 40px;
  margin-left: -5px;
  outline: none;
  padding-left: 20px;
}
.nav__search-btn {
  height: 40px;
  width: 52px;
  border-radius: 0 5px 5px 0;
  background-color: #febd69;
  outline: none;
  border: none;
  margin: 0 0 0 -6px;
  display: block;
}
.nav__search-btn:hover {
  background-color: #f3a847;
  cursor: pointer;
}
.nav__search-input-icon {
  font-size: 20px;
  font-weight: 100;
  border: none;
}

/* nav-right */
.nav__right {
  width: 390px;
  display: flex;
}
.nav__right .language {
  height: 56px;
  width: 68px;
  display: flex;
  align-items: center;
  padding: 15px 0 5px 3px;
}
.language-flag {
  height: 15px;
  width: 20px;
}
.country-name {
  font-weight: bold;
  color: white;
  font-size: 15px;
  padding: 0 4px;
}
.icon-down {
  color: grey;
  font-size: 13px;
}
.nav__right > a {
  text-decoration: none;
}
.nav__right .singin {
  width: 133px;
  height: 56px;
  /* margin-top: 10px;
      margin-left:5px; */
  padding: 15px 0 0 2px;
}
.text1 {
  font-size: 12px;
  color: white;
}
.text2 {
  font-size: 14px;
  color: white;
  font-weight: 600;
}
.return-order {
  width: 77px;
  height: 56px;
  text-align: center;
  padding: 15px 0 0 2px;
}
.cart {
  height: 56px;
  display: flex;
  padding: 15px 0 3px 15px;
}
.cart-icon {
  color: white;
  font-size: 25px;
  padding-right: 5px;
}
.cart .cart-qty {
  position: absolute;
  top: 0;
  right: 79px;
  color: white;
  font-size: 14px;
}
/* end nav */

/* panel */
.box-panel {
  height: 40px;
}
.box-panel:hover {
  border: 1px solid white;
  border-radius: 2px;
}
.panel {
  background-color: #232f3e;
  height: 40px;
}
.panel .icon-bar {
  font-size: 18px;
}
.panel .panel-menu {
  display: flex;
}
.panel-menu > li {
  list-style: none;
  margin: 8px 5px;
}
.panel-menu > li > a {
  text-decoration: none;
  color: white;
  padding: 8px 9px;
  font-size: 14px;
}
/* section */

.slide img {
  width: 1360px;
  height: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: auto;
}
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 560px;
}
.image-box {
  display: flex;
  position: absolute;
  animation: carousel 15s alternate infinite;
}
@keyframes carousel {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  24% {
    left: -1360px;
  }
  50% {
    left: -1360px;
  }
  54% {
    left: calc(-1360 * 2px);
  }
  80% {
    left: calc(-1360 * 2px);
  }
  84% {
    left: calc(-1360 * 3px);
  }
  100% {
    left: calc(-1360 * 3px);
  }
}

.main {
  position: absolute;
  z-index: 1;
  top: 230px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, transparent, #eaeded);
}
.main-product1,
.main-product2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.main .product-boxs {
  height: 385px;
  width: 312px;
  background-color: white;
  padding: 20px 0 10px 0;
  margin: 0 10px;
}
.product-boxsno {
  height: 385px;
  width: 312px;
  padding: 0 0 10px 0;
  margin: 0 10px;
}

.product-boxs-sigin {
  padding-top: 20px;
  height: 150px;
  background-color: white;
}
.product-boxs-img {
  margin-top: 20px;
  height: 215px;
  background-color: #37475a;
}
.product-boxs-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-btn-sigin {
  display: block;
  width: 275px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255 216 20);
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  color: gray;
  line-height: 30px;
}
.main .product-text {
  padding: 0 20px;
  font-size: 20px;
  margin-bottom: 10px;
}
.produc-box {
  padding: 0 20px;
}
.produc-box div > a {
  text-decoration: none;
}
.product-box-top {
  display: flex;
  margin-bottom: 8px;
}

.product-box-bottom {
  display: flex;
}
.product-box-img {
  width: 128px;
  height: 115px;
  object-fit: cover;
}
.product-name {
  font-size: 13px;
  color: gray;
}
.see-more {
  display: block;
  font-size: 13px;
  color: #007185;
  text-decoration: none;
  padding-left: 20px;
  margin-top: 20px;
}
.see-more:hover {
  color: rgba(255, 0, 0, 0.699);
  text-decoration: underline;
}
.main .product-boxs2 {
  height: 420px;
  width: 312px;
  background-color: white;
  padding: 20px 0 10px 0;
  margin: 0 10px;
}
.product-box-top2 {
  width: 270px;
  height: 305px;
}
.product-box-img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-product3 {
  width: 1310px;
  height: 280px;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: white;
  display: block;
}
/* End section */

/* carousel */
#wrapper {
  width: 100%;
  position: relative;
  padding: 15px;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#content > img {
  object-fit: contain;
}
#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 96px;
  height: 200px;
}
